# Python sanal ortamları
venv/
ENV/
env/

# Derleme dosyaları
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code ayarları
.vscode/

# Sistem dosyaları
.DS_Store
Thumbs.db



echo "venv/" >> .gitignore
echo "backend/venv/" >> .gitignore
